<div *ngIf="messageService.messages.length">
  <h2>Messages<button class="clear" (click)="messageService.clear()">Clear </button></h2>
  <div *ngFor="let message of messageService.messages"> {{message}} </div>
</div>
