<div id="serch-component">
  <h4>Hero search</h4>
  <input #serchBox id="search-box" (input)="serch(serchBox.value)"/>
  <ul clash="search-result">
    <li *ngFor="let hero of heroes$ | async">
      <a routerLink="/detail/{{hero.id}}">
        {{hero.name}}
      </a>
    </li>
  </ul>
</div>